* {
    margin: 0;
    padding: 0;
    font-family: "Athiti";
    border: none;
    outline: none;
    font-size: 100%;
    box-sizing: border-box;
    vertical-align: baseline;
    background: transparent;
}

a{
    color: inherit;
    text-decoration: underline;
}
button{
    cursor: pointer;
}

.flex{
    display: flex;
    align-items: center;
}

.item-x{
    margin-left: 1vw;
    margin-right: 1vw;
}

.item-y{
    margin-top: 1vw;
    margin-bottom: 1vw;
}

.float-left{
    float: left;
}

.float-right{
    float: right;
}

::placeholder{
    color: black;
}

@font-face {
    font-family: 'Athiti';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/athiti/v12/pe0vMISdLIZIv1wICxJX.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

body{
    background-color:#14532d;
}

/* ============================================================================ */

input[type="submit"]{
    cursor: pointer;
    color: inherit;
}

h1{
    font-size: 3rem;
}

h2{
    font-size: 1.5rem;
}

.login-container{
    margin: 0px;
    width: 35vw;
    height: 100vh;
    background-color: whitesmoke;
    border-top-left-radius: 3.5vw;
    border-bottom-left-radius: 3.5vw;
    padding-left: 5vw;
    padding-right: 4vw;
    padding-top: 12vh;
    padding-bottom: 3vw;
}

.buat_Akun-field{
    margin-block: 1.2vh;
    width: 100%;
    border: 2px solid #B6B6B6;
    padding: 10px;
    border-radius: 10px;
    font-size: 1rem;
}

.buat_Akun-field:hover{ 
    border: 2px solid #818181;
}

.login-container>:hover{
    color: rgb(107, 107, 107);
}

.buat_Akun-submit{
    
    text-align: center;
    background-color: #1c1c1c;
    border: 2px solid #1c1c1c;
    margin-top: 4vh;
    margin-bottom: 3vh;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    font-size: 1rem;
    color: rgb(226, 226, 226);
}


.something-placeholder {
    background-color: inherit;
    display: flex;
    height: 70vh;
    margin: 7.5vw;
    width: 50vw;
    border-radius: 2.3vw;
}

.something-placeholder > .something-content{
    align-self: center;
    text-align: center;
    font-size: 64px;
    color: #f5f5f5;
    width: 100%;
}

.something-placeholder > .something-content > .flex{
    justify-content: center;
}

.something-placeholder > .something-content > p{
    padding-inline: 10%;
    font-size: x-large;
}

.something-placeholder > .something-content > a {
    font-size: xx-large;
    border-radius: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border: 3px solid whitesmoke;
    text-decoration: none;
}

.something-placeholder > .something-content > a:hover {
    background-color: #15803d;
}

.br{
    height: 30px;
}